body {
    position: relative;
    margin: 0;
    padding: 0;
}
div#content {
    position: absolute;
    top: 26px;
    left: 161px;
    right: 25px;
    color: #EED;
    font: 13px Verdana, sans-serif;
    padding: 10px;
    border: solid #FFCC99;
    min-height: 400px;
}
div#content p {
    margin: 0 1em 1em;
}
div#content h3 {
    margin-bottom: 0.25em;
}


div#sidebar {
  position:fixed;
  top: 2em;
  bottom: 0;
  left: 0;
  width: 10em;
  color: #FFC;
}

div#sidebar h2 {
  text-align:center;
  font-family:arial, helvetica, sans-serif;
}


div#links h4 {
    display: block;
    text-align: center;
    font: bold 1em sans-serif;
    padding: 5px 10px;
    margin: 0 0 2px;
    border-width: 0;
    text-decoration: none;
    color: #FFC;
    background:#ccc;
}


div#links a {
    display: block;
}

div#links a {
    text-align: center;
    font: bold 1em sans-serif;
    padding: 5px 10px;
    margin: 0 0 2px;
    border-width: 0;
    text-decoration: none;
    color: #FFC;
}
div#links a:hover {
    color: #411;
}
h1.heading {
    margin: -9px -9px 0.5em;
    padding: 15px 0 5px;
    text-align: right;
    background: #ACE;
    color: #024;
    letter-spacing: 0.5em;
    text-transform: lowercase;
    font: bold 25px sans-serif;
    height: 28px;
    vertical-align: middle;
    white-space: nowrap;
}
dt {
    font-weight: bold;
}
dd {
    margin-bottom: 0.66em;
}
div#content a:link {
    color: white;
}
div#content a:visited {
    color: #BBC;
}
div#content a:link:hover {
    color: #FF0;
}
div#content a:visited:hover {
    color: #CC0;
}
div#links {
    position: absolute;
    top: 52px;
    left: 0;
    width: 160px;
    height: 700px;
    font: 16px Verdana, sans-serif;
}
code, pre {
    color: #EDC;
    font: 110% monospace;
}

