[buildout]
#extends = 
#    lxml.cfg
parts = test coverage docs pylint
unzip = true
develop = .

[test]
recipe = pbp.recipe.noserunner
eggs = Deliverance
defaults =  
    --verbosity=3
    --with-doctest
    --doctest-extension=txt

[coverage]
recipe = pbp.recipe.noserunner
eggs =
    coverage
    Deliverance
defaults =  
    --verbosity=3
    --with-doctest
    --doctest-extension=txt
    --with-coverage
    --cover-erase
    --cover-package=deliverance
    --cover-html
    --cover-html-dir=${buildout:directory}/docs/coverage

[docs]
recipe = collective.recipe.sphinxbuilder
source = deliverance:docs
build = ${buildout:directory}/docs
# TODO: provide script to easily upload documentation to pypi

[pylint]
recipe = zc.recipe.egg
eggs = pylint
entry-points = pylint=pylint.lint:Run
arguments = sys.argv[1:]+[
        '--output-format=html',
        '--import-graph=${buildout:directory}/docs/pylint_deliverance.dot',
        '--ext-import-graph=${buildout:directory}/docs/pylint_deliverance_external.dot',
        '--int-import-graph=${buildout:directory}/docs/pylint_deliverance_internal.dot',
        '--init-import=y',
        '${buildout:directory}/deliverance']
