
body { 
  font-size: 0.9em;
  font-family: Optima, Arial, sans-serif;
  margin: 0;
}

#siteheader {
  height: 110px;
  background-color:silver;
  padding: 1em;
}

#siteheading {
  float:right;
}

#sitelogo {
  height: 100px;
}


#sitemenu li {
  display:inline;
  list-style-type:none;
}

#pageframe { 
  margin-left: 4em;
  margin-top: 2em;
}

#pagecontent {
  margin: 2em;
}